@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf');
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.text-danger {
  color: red;
  font-family: 'Lobster';
}

.bg {
  min-height: 100px;
  background-image: url('../images/bg.jpg');
}
